canvas {
    border: 1px solid black;
}
#wrapper {
    display: flex;
    /* flex-flow: row-wrap; */
    flex-direction: row;
    margin-top: 20px;
}
#heading{
    margin: 10px auto;
}
h1 {
    margin: auto;
    text-align: center;
}
#inputs {
    margin-left: 20px;
}
.option {
    margin: 5px auto;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    margin-top: 20px;
    width: 200px;
    height: 20px;
}