html
    head
        title= title
    body(style={background: color})
        h1= message
        form(action="" method="POST")
            p choose a color
            h3= color
            input(type="color" name="favcolor")
            input(type='submit', value='Submit')

    
